* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600;
    text-align: center;
    margin-top: 4rem;
}

p {
    font-size: 0.875rem;
    text-align: center;
    margin-top: 0.5rem;
    color: #64748b;
}

.img-cards {
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.img-card {
    max-width: 14rem;
    height: 20rem;
    border-radius: 8px;
    object-fit: cover;
    transition: all 300ms;
}

.img-card:hover {
    translate: 0 -.25rem;
}